/* تحديد التنسيق الأساسي للأجزاء المختلفة في الصفحة */
.container {
    position: relative;
    width: 1025px;
    margin: auto;
}

iframe {
    border: 1px solid #ccc;
    width: 100%;
    pointer-events: none;
    /* منع التفاعل داخل الـ iframe */
}

.canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.percentage-label {
    position: absolute;
    left: -30px;
    font-size: 12px;
    color: black;
}

.divider-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px dotted black;
}

.dynamic-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px dotted black;
    pointer-events: none;
    display: none;
}

.dynamic-percentage {
    position: absolute;
    left: -40px;
    font-size: 12px;
    color: blue;
    pointer-events: none;
    display: none;
}
